
<h2 class="text-3xl font-semibold text-center mb-6">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<span class='mb-4 text-red-600'><%= f.error_notification %></span>
  

  <div class="space-y-4 lg:w-1/2 lg:mx-auto">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: {
                  class: 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500',
                  autocomplete: "email",
                  placeholder: "Email"
                } %>

    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: {
                  class: 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500',
                  autocomplete: "new-password",
                  placeholder: "Password"
                } %>

    <%= f.input :password_confirmation,
                required: true,
                input_html: {
                  class: 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500',
                  autocomplete: "new-password",
                  placeholder: "Confirm Password"
                } %>
  </div>

  <div class="mt-6 lg:w-1/2 lg:mx-auto">
    <%= f.button :submit, "Sign up", class: 'w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500' %>
  </div>
<% end %>

<div class="mt-4 text-center">
  <%= render "devise/shared/links" %>
</div>
